@model Fryde.Models.Music

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Artist)</h4>
    <hr />

    @Html.HiddenFor(model => model.FilePath)
    <div id="waveform"></div>

    <div class="controls text-center">
        <button class="btn btn-primary" data-action="play">
            <i class="glyphicon glyphicon-play"></i>
            Play
            /
            <i class="glyphicon glyphicon-pause"></i>
            Pause
        </button>
        <i class="glyphicon glyphicon-heart"></i>
        <span class="glyphicon glyphicon-asterisk"></span>

        <button class="btn btn-primary" data-action="play">
            <i class="glyphicon glyphicon-repeat"></i>
            Repeat
        </button>
    </div>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
